$text-color: #fff;
$bg-nav: #836f34;
$bg-footer: #836f34;
$bs-nav-pills-link-active-bg: #e2f53a;
$accordion-color: #3f2c0f;
$accordion-bg: #e0ba96e8;
$accordion-border-color: #472f18d5;
$accordion-shadow: #a07954;
$accordion-button-color:  #f7e6d6e8;
$accordion-button-bg: #7c5f33;
$accordion-button-active-bg: #d1b69c;
$accordion-button-active-color: #f5b274;